*{
        margin: 0;
        padding: 0;
}
.img img {
        padding-top: 2rem;
        margin-right: 3rem;
        height: 20rem;
        width: 100%;
}

.header {
        background-color: #f1f1f1;
        background-image: url('/public/img/about/01.jpg');
        padding: 2rem;
        font-family: 'Times New Roman', Times, serif;
        font-size: medium;
        height: 25rem;
        text-align: center;
      }

      .Who{
        margin-top: 20px;
       
      }
      .Who h2{
        text-align: center;
        padding-top: 35px;
        padding-bottom: 20px;
      }

.Achive{
        padding-top: 20px;
        margin-top: 20px;
        background-image: url('/public/img/about/01.jpg');
        height: 100%;
        margin-left: 10%;
        width: 80%;
        text-align: center;
        line-height: 35px;
        font-size: 20px;
        margin-bottom: 30px;
        
}
.Who p{
        line-height: 35px;
        font-size: 20px;
}
.Aim{
        margin-top: 20px;
        line-height: 35px;
        font-size: 20px;
        height: 100%;
        margin-left: 10%;
        width: 80%;
        text-align: center;
}
