*{
    margin: 0;
    padding: 0;
}

.head{
    background-image:url("/public/img/building_plan/1921.jpg");
    background-size: cover;
    /* margin: 0px; */
    /* padding: 0px; */
    background-repeat: no-repeat;
    /* background-color: red; */
    width: 100%;
    height: 50vh;

}



.heading{
    text-align: center;
    padding-top: 100px;
    font-family:'Times New Roman', Times, serif ;
    font-weight: 500;
    font-size: 50px;
 }

 .building_plan{
    margin-top: 10px;
    /* height: 100vh; */
    width: 100%;
    margin-bottom: 10px
 }
 .h2{
    margin-top: 40px;
 }

 .p{
    text-align: left;
 }
.b1{
/* width: 50%;  */
margin-top: 20px;
margin-right: 5px;
width: 10%;
margin-bottom: 20px;

}
.b2{
  
    /* width: 50%; */
    margin-top: 20px;
    margin-left: 5px;
    width: 10%;
    margin-bottom: 20px;
    
}
.button{
    text-align: center;
}