.services_image{
    height: 400px;
    width: 100%;
    background: url('/public/img/services/service.jpg');
    background-size: cover;
}
.services_image img{
    height: 50vh;
}
.service_block_services{
    margin: 5px;
    margin-top: 10px;
}
.service_block_heading h2{
    text-align: center;
    margin: 10px;
    padding: 10px;
}